html,
body * {
    /* cursor: none;         */
}

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
    z-index: 999999;
}

.cursor-dot {
    width: 10px;
    height: 10px;
    background-color: black;
    transition: width 0.5s, height 0.5s;
}
