body{
   /* background-color: black; */
   /* background: url('../img/marble.png') no-repeat center center fixed;   */
   background-color: rgb(191, 176, 155);;
}

#particles-js {
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: -1;
   top: 0;
}

.introduction{
   display: inline-block;
   width: fit-content;
   position: absolute;
   top: 15%;
   left: 10%;
   font-size: 10px;
   letter-spacing: 5px;
}

.introduction a{
   font-size: 15px;
   letter-spacing: 5px; 
   font-weight: 500;
}

.dot{
   width: 5px;
   height: 5px;
   background-color: black;
   border-radius: 50%;
   position: absolute;
   top: -12px;
   left: -12px;
   animation: blink 3s infinite;
}

@keyframes blink {
   0% { opacity: 0; }
   50% { opacity: 1; }
   100% { opacity: 0; }
 }


.nav{
   display: inline-block;
   width: fit-content;
   position: absolute;
   left: 10%;
   bottom: 11%;
}

.nav a{
   display: block;
   font-size: 40px;
   line-height: 1.5;
   transition: all 0.5s;
}

.nav a:hover{
   margin-left: 10px;
   color: #ef2e31;
   /* color: rgb(236, 79, 44); */
}

#linkedin{
   font-size: 20px;
   margin-top: 15px;
   margin-left: 3px;
}

#linkedin:hover{
   color: #0e76a8;
}

.container{
   display: inline-block;
   background-color: white;
   color: black;
   position: absolute;
   left: 40%;
   bottom: 7%;
   padding: 40px 20px 20px 20px;
   right: 10%;
}

h2{
   color: black;
   font-weight: 600;
   font-size: 40px;
   margin-bottom: 10px;
}

@media(max-width: 400px){
   .nav a{
      font-size: 30px;
   }
}



