body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family:'Lora', sans-serif;
    /* font-family:'Nunito', sans-serif; */
    color: white;
    color: black;
    font-weight: 400;
}

a{
    text-decoration: none;
}

/* header */
h1, h2, h3, h4, h5, strong{
    font-family:'Lora', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 300;
}

