ul.transition{
    display:flex;
    position: absolute;
    z-index: 15000;;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events:none;
    list-style: none;
}

ul.transition li{
    transform: scaleX(0);
    background-color: rgb(241, 241, 241);
    width:100%;
    list-style: none;
}
