/* ul.transition{
    display:flex;
    position: absolute;
    z-index: 15000;;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events:none;
    list-style: none;
}

ul.transition li{
    transform: scaleY(0);
    background-color: rgb(241, 241, 241);
    width:0.5%;
    list-style: none;
}

.li1{
    background-color: lightblue;
}
.li2{
    background-color: lightsalmon;
}
.li3{
    background-color: lightgreen;
}
.li4{
    background-color: lightyellow;
}
.li5{
    background-color: lightseagreen;
}
.li6{
    background-color: lightcoral;
}
.li7{
    background-color: lightblue;
}
.li8{
    background-color: lightsalmon;
}
.li9{
    background-color: lightgreen;
}
.li10{
    background-color: lightyellow;
} */
