body{
    /* background: url('../../img/view-white-crumpled-paper.jpg') no-repeat center center fixed;   */
    min-height: 100vh;
    position: relative;
    background-color: rgb(191, 176, 155);
}

.cursor-dot {
    background-color:black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    width: 100%;
    padding: 30px 80px 20px 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.5s;
}

.scroll{
       /* background-color: rgb(240, 240, 240); */
       background-color: rgb(191, 176, 155);
}

    .left{
        position:relative;
        letter-spacing: 5px;
    }

        .dot{
            width: 5px;
            height: 5px;
            background-color: black;
            border-radius: 50%;
            position: absolute;
            top: 0px;
            left: -8px;
            animation: blink 3s infinite;
        }
        
            @keyframes blink {
                0% { opacity: 0; }
                50% { opacity: 1; }
                100% { opacity: 0; }
            }

        #logo{
            font-size: 12px;
            letter-spacing: 5px; 
            color: black;
            vertical-align: bottom;
            font-weight: 600;
        }  

            nav a{
                color: black;
                font-size: 12px;
                vertical-align: bottom;
                margin-left: 20px;
            }

                #nav-about:hover,
                .about-selected{
                    background-image: url('../../img/scribble1.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }

                #nav-edu:hover,
                .edu-selected{
                    background-image: url('../../img/scribble2.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }

                #nav-exp:hover,
                .exp-selected {
                    background-image: url('../../img/scribble3.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }

                #nav-port:hover,
                .port-selected {
                    background-image: url('../../img/scribble4.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }

                #nav-cont:hover,
                .cont-selected {
                    background-image: url('../../img/scribble5.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }

                #linkedin{
                    margin-bottom: 1px;
                }
                #linkedin:hover{
                    color: #0e76a8;
                }

                @media(max-width: 900px){
                    .right{
                        position: relative;
                    }
                    nav{
                        display: none;
                        position:absolute;
                        top: 30px;
                        /* top: 60px; */
                        right: -80px;
                        width: 195px;
                        transition: all 0.5s;
                        padding-right: 80px;
                        padding: 10px 80px 10px 0;
                    }
                    .nav-scroll{
                        background-color: rgb(191, 176, 155);
                        /* background-color: rgb(240, 240, 240); */
                    }
                    nav a{
                        display: block;
                        margin: 5px 0;
                        text-align: right;
                    }
                    #linkedin{
                        float: right;
                    }
                    .nav-show{
                        display: block;
                    }

                    
                    #nav-about:hover,
                    #nav-edu:hover,
                    #nav-exp:hover,
                    #nav-port:hover,
                    #nav-cont:hover,
                    .about-selected,
                    .edu-selected,
                    .exp-selected,
                    .port-selected,
                    .cont-selected {
                        background-position: right;
                    }
                }

                @media(max-width: 500px){
                    header{
                       padding: 30px 50px 20px 50px;
                    }

                }

                @media(max-width: 400px){
                    header{
                       padding: 30px 30px 20px 30px;
                    }
                    .right{
                        position: static;
                    }
                    nav{
                        display: none;
                        position:static;
                        position:absolute;
                        top: 67px;
                        right: 0px;
                        left: 0px;
                        width: 100%;
                        padding: 100px 0px 80px 30px;
                    }

                    nav a{
                        font-size: 30px;
                        display: block;
                        margin: 5px 0;
                        text-align: left;
                    }

                    #linkedin{
                        float: left;
                    }

                    #nav-about:hover,
                    #nav-edu:hover,
                    #nav-exp:hover,
                    #nav-port:hover,
                    #nav-cont:hover,
                    .about-selected,
                    .edu-selected,
                    .exp-selected,
                    .port-selected,
                    .cont-selected {
                        background-position: left;
                    }
                }

    /* ABOUT-ME START */

.info-container{
    margin: 100px 0 0 80px;
    padding-bottom: 100px;
    width: 750px;
    
}

    .info-container h2{
        font-size: 40px;
        margin-bottom: 40px;
        color: rgb(236, 79, 44);
    }

    .info-container p{
        font-size: 14px;
        margin-top: 15px;
    }

        .info-container p a{
            font-weight: 600;
        }

        .info-container p a:hover,
        #story-button:hover{
            /* color: #B67150; */
            color: rgb(236, 79, 44);
        }

        #story{
        font-size: 14px;
        }

        #story-button{
            position: relative;
            font-weight: 500;
            font-size:12px;
        }

        #story-arrow{
            height: 50px;
            position: absolute;
            left: -135px;
            top: 5px;
        }

        .story-hidden{
        display: none;
        }

        .story-show{
            display: block;
        }

        ul.traits {
            margin-top: 15px;
            list-style: none; 
            margin: 10px 10px;
          }
          
          ul.traits li::before {
            content: "\2022";  
            color: black; 
            font-weight: bold; 
            display: inline-block; 
            width: 1em; 
            margin-left: -1em; 
            font-size: 10px;
          }

        .traits li{
            font-size: 14px;
            /* font-size: 12px; */
        }

        @media(max-width: 900px){
            .info-container{
                margin: 100px 80px 0 80px;
                width:auto;
            }
        }

        @media(max-width: 500px){
            .info-container{
                margin: 100px 50px 0 50px;
            }
        }

        @media(max-width: 400px){
            .info-container{
                margin: 100px 30px 0 30px;
            }
            .info-scroll{
                margin: 560px 30px 0 30px;
            }
        }

/* FOOTER START */

.footer{
    position: absolute;
    padding: 20px 0 40px 0;
    bottom:0px;
    left:80px;
    right:80px;
}

.footer a{
    color:black;
    font-size: 12px;
}

.icon-right{
    float: right;
}

.icon,
.icon-r{
    width: 50px;
    margin-top: 4px;
    margin-right: 5px;
}

.icon-left:hover{
  background-image: url('../../img/arraw2.PNG');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: left;
}

.icon-r{
  margin-left: 5px;
  transform: rotate(180deg);   
}

  .icon-right:hover{
      background-image: url('../../img/arraw1.PNG');
      background-repeat: no-repeat;
      background-size: 50px;
      background-position: right;
  }

  @media(max-width: 500px){
    .footer{
        left:50px;
        right:50px;
    }
}

@media(max-width: 400px){
    .footer{
        left:30px;
        right:30px;
    }
    .footer a{
        color:black;
        font-size: 10px;
    }
    .icon,
    .icon-r{
        margin-top: 2px;
    }
}

  /* EDUCATION START */

.edu-item{
    /* display: inline-block; */
    /* background-color: salmon; */
}

.edu-item > h4{
    display: inline-block;
    /* background-color: green; */
    width: 140px;
    font-size: 12px;
    line-height: 18px;
    vertical-align: top;
    font-weight: 600;
    /* background-color: lightsalmon; */
    padding: 10px;
    /* margin-bottom: 10px; */
}

.item-info{
    width: 70%;
    /* width: calc(100% - 140%); */
    display: inline-block;
    vertical-align: top;
    /* flex-grow: 8; */
    /* background-color: aqua; */
    padding: 10px;
}

.item-info h4{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.item-info p{
    font-size: 13px;
}

.edu{
    /* background-color: lightsalmon; */
 
 }
 
 .edu h4{
    color: black;
 }
 
 .edu p{
    color: grey;
 }
 
 .place{
    display: inline-block;
    float:left;
 }
 
 .year{
    display: inline-block;
    float:right;
 }

 @media(max-width: 700px){
    .edu-item{
        display: block;
    }
    .edu-item > h4{
        width: 100%;
        font-size: 4;
        /* font-weight: 700; */
        padding: 5px 10px;
    }
    /* .item-info h4{
        font-weight: 500;
    } */
    .item-info{
        width: 100%;
        margin-bottom: 15px;
        padding: 5px 10px;
    }
    .item-info h4{
        font-size: 12px;
    }
 }


  /* PORTFOLIO START */

    .skills-portfolio{
        /* background-color: white; */
        /* display:flex; */
        margin: 50px 80px 0 80px;
        width: calc(100% - 160px);
        /* width: 100%; */
    }

    /* .divider{
        background-image: url('../../img/scribble2.png');
        background-size: contain;
        width: 100%;
        height: 10px;
        background-repeat: no-repeat;
        background-position: center;
    } */

        .skills-item{
            padding: 30px 0px;
            /* margin-bottom: 30px; */
            /* background-color: white; */
            border-bottom: 1px solid rgb(236, 79, 44);
        }

        .hard.skills-item{
            border-bottom:none;
        }

        .skills-item h4{
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            margin-bottom: 30px;
            /* color:rgb(236, 79, 44); */
            
        }

        .languages{
            /* background-color:lightcoral; */
            /* padding-right: 100px; */
            /* margin-bottom: 60px; */
        }

            
    .langs{
        width: 500px;
        display: flex;
        justify-content: space-between;
    }

        .langs img{
            height: 55px;
            margin-bottom: 20px;
        }

        .portfolio{
            /* background-color:lightgreen; */
        }


        .portfolio-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #git{
            height: 55px;
            margin: 20px 75px;
        }
        
        .portfolio img{
            height: 100px;
            margin-right: 20px;
        }

        .portfolio img:last-child{
            margin-right: 0px;
        }

        .portfolio img:hover{
            filter: grayscale(100%);
        }

        .skills-item p{
            display: inline-block;
            margin-right: 30px;
        }




    @media(max-width: 1000px){
        .portfolio-container{
            flex-wrap: wrap;
        }
        .portfolio img{
            margin-bottom: 20px;
        }
    }

    @media(max-width: 650px){
        .langs{
            width: auto;
            flex-wrap: wrap;
        }
        .portfolio-container{
            flex-direction: column;
            align-items: center;
        }
    }

    @media(max-width: 500px){
        .skills-portfolio{
            margin: 50px 50px 0 50px;
            width: calc(100% - 100px);
        }
    }

    @media(max-width: 400px){
        .skills-portfolio{
            margin: 50px 20px 0 30px;
            width: calc(100% - 60px);
        }
    }






    /* CONTACTS START */

    .contacts *{
        display: block;
        margin-bottom: 20px;
    }

    #ph{
        height:13px;
    }
    
    #em{
        height:18px;
    }

